<app-meni-administrator></app-meni-administrator>

<div class="row sredina">
    <div class="col-sm-12">
        <div class="col-sm-12 text-center">
            <img class="rounded-circle velicina"
                src="http://localhost:4000/users/getUserImage/?image={{ulogovan.slika}}" *ngIf="ulogovan.slika != ''">
            <img class="rounded-circle velicina" src="../../assets/unknownuser.png" *ngIf="ulogovan.slika == ''">
        </div>
        <div class="col-sm-12 text-center">
            <h2 class="naslov">Dobrodošli, {{ulogovan.ime}}</h2>
        </div>
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</div>

<div class="row sredina">
    <div class="col-sm-12 text-center">
        <h3 class>Aktivni korisnici</h3>
        <hr>
    </div>
</div>

<div class="row sredina">
    <div class="col-sm-12 text-center">
        <table class="table" id="tabela">
            <th>Ime</th>
            <th>Prezime</th>
            <th>Korisničko ime</th>
            <th>Tip</th>
            <th>Detalji</th>
            <tr *ngFor="let korisnik of aktivniKorisnici">
                <td>{{korisnik.ime}}</td>
                <td>{{korisnik.prezime}}</td>
                <td>{{korisnik.korisnickoIme}}</td>
                <td>{{korisnik.tip}}</td>
                <td><a routerLink="../pregledProfila" (click)="sacuvajKorisnika(korisnik)">LINK</a></td>
            </tr>
        </table>
        <span id="ponistavanje">Ukoliko želite da dodate novog korisnika u sistem, kliknite <a
                routerLink="../noviKorisnik">OVDE</a></span>
    </div>
</div>