<div class="row">
    <div class="col-sm-12" id="meni">
        <a routerLink="../" class="meni-link">Početna</a>
        <a routerLink="../top5" class="meni-link">Top 5 radionica</a>
        <a routerLink="../login" class="meni-link">Prijava na sistem</a>
        <a routerLink="../registracija" class="meni-link">Kreiraj nalog</a>
    </div>
</div>
<div class="row sredina text-center">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12">
        <h2 class="naslov">Top 5 radionica</h2>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
    <div *ngFor="let radionica of top5" class="col-sm-12 slova">
        <img src="http://localhost:4000/workshops/getWorkshopImage/?image={{radionica.glavnaSlika}}"
            class="rounded stil">
        <br>
        <span class="orangered">Naziv: </span> {{radionica.naziv}}<br>
        <span class="orangered">Mesto održavanja: </span>{{radionica.mesto}} <br>
        <span class="orangered">Datum održavanja: </span> {{convertToDate(radionica.datum).toLocaleString(['en-GB'], {year: 'numeric', month: 'numeric', day: 'numeric'})}}
        <br> <span class="orangered">Svidjanja: </span> {{radionica.svidjanja.length}}
        <br>
        {{radionica.kratakOpis}}
        <hr>
    </div>
</div>