<div class="row sredina">  
    <div class="col-sm-12 text-center">
        <hr>
    </div>
    <div class="col-sm-12 baner">
        <a href="https://bah.edu.rs/" target=”_blank”>bah.edu.rs</a>
        <a href="https://www.artdepostudio.com/" target=”_blank”>artdepostudio.com</a>
        <a href="https://zanateria.com/" target=”_blank”>zanateria.com</a>
    </div>
    <div class="col-sm-12 text-center">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 footer text-center">
        Copyright 2023, Filip Kojić, Odsek za softversko inženjerstvo Elektrotehničkog fakulteta
        Univerziteta u Beogradu
    </div>
</div>